<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Template01" version="0.3.1" viewmodes="maximized">
   <name>Speedy IPTV</name>
   <icon src="assets/icon_256.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"></feature>
   <tizen:category name="http://tizen.org/category/app.video" />
   <tizen:background-category value="media"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/multitasking.support" value="true"/>

   <tizen:setting screen-orientation="landscape" context-menu="enable" encryption="disable" install-location="auto" hwkey-event="enable"></tizen:setting>
   <tizen:application id="U7inRIJIfU.speedyiptv" package="U7inRIJIfU" required_version="2.3"></tizen:application>
   <tizen:privilege name="http://tizen.org/privilege/application.launch"></tizen:privilege>
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"></tizen:metadata>
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"></tizen:metadata>
   <tizen:profile name="tv"></tizen:profile>
    <access origin="*" subdomains="true"/>

    <tizen:privilege name="http://tizen.org/privilege/network"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/network.control"/>

    <!-- REMOTE CONTROL KEYS (Fixes 'Permission Denied' on registerKey) -->
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <!-- PLAYER / WINDOW MANAGEMENT -->
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:privilege name="http://tizen.org/privilege/unlimitedcompliance"/>
    <!-- FEATURES -->
    <feature name="http://tizen.org/feature/network.internet"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>

    <tizen:privilege name="http://tizen.org/privilege/mediacontroller"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacontroller.server"/>

    <tizen:privilege name="http://tizen.org/privilege/network.public"/>
</widget>
